body{
    background-color: #4642B8;
    padding:  150px;
    font-family: Arial;
}

ul, ol{
    list-style: none;
}
.nav > li {
    float: left;
}
.contenedor{
    align-content: center;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.nav li ul li {
    position:relative;
}

.nav li a:hover {
   background-color:#8AB7E7;
}

.nav li:hover > ul {
   display:block;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px; 
}

.nav li a {
   background-color:#6FA4DA;
   color:black;
   text-decoration:none;
   padding:10px 30px;
   display:block; 
}